.m-header {
  position: relative;
  display: flex;
  align-items:center;
  background-color: $color-background;
  box-sizing: border-box;
  padding: $unit-xs;
  color: $color-foreground;
  background: $color-primary;

  .m-header__logo {
    position: relative;
    padding: $unit-s;
    align-items: center;
  }

  .m-header__navigation {
    padding: $unit-xs;
    display: block;
    font-weight: bold;
    text-align: right;
    flex-grow: 1;

    ul {
      display: inline-block;
      li {
        display: inline-block;
        margin-right: $unit-s;

        a {
          transition: all 0.2s;
          color: $color-foreground;
          text-decoration: none;

          &:hover {
            color: grey;
          }
        }

        &.active {
          a {
            color: grey;
          }
        }
      }
    }

    &.visible {
      display: block;
    }
  }
}
