.m-header {
  position: relative;
  display: flex;
  align-items: left;
  background-color: $color-background;
  box-sizing: border-box;
  padding: $unit-xs;
  color: $color-foreground;
  background: white;
  height: 70px;

  .m-header__logo {
    position: relative;
    padding: $unit-s;
  }
  
  .m-header_name {
    color: $color-foreground;
    font-size: $typo-h1;
    font-weight: bold;
    padding-top: 26px;
  }

  .m-header__navigation {
    padding-right: 400px;
    padding-top: 38px;
    display: block;
    font-weight: light;
    text-align: right;
    flex-grow: 1;

    ul {
      display: inline-block;
      li {
        display: inline-block;
        margin-right: $unit-s;

        a {
          transition: all 0.2s;
          color: $color-foreground;
          text-decoration: none;

          &:hover {
            color: rgb(116, 176, 255);
          }
        }

        &.active {
          a {
            color: $color-primary;
          }
        }
      }
    }

    &.visible {
      display: block;
    }
  }
}
