#m-work-headline {
    font-size: $typo-large-size;
    color: $color-foreground;
    text-align: center;
    font-weight: bold;
    padding-top: 10vh;
}

.m-work-boxes {
    padding-top: 30vh;
    display: block;
    font-weight: light;
    text-align: center;
    flex-grow: 1;

    ul {
      display: inline-block;
      li {
        display: inline-block;
        padding-right: 4vw;
        padding-left: 4vw;

        a {
          color: grey;
          background-color: grey;
          padding-top: 20vh;
          padding-right: 10vh;

        }
      }
    }

    &.visible {
      display: block;
    }
}

.m-work-projects {
    padding-top: 2vh;
    display: block;
    font-weight: light;
    text-align: center;
    flex-grow: 1;

    ul {
      display: inline-block;
      li {
        display: inline-block;
        padding-right: 15vh;
        padding-left: 15vh;

        a {
          transition: all 0.2s;
          color: $color-foreground;
          text-decoration: none;

          &:hover {
            color: rgb(116, 176, 255);
          }
        }

        &.active {
          a {
            color: $color-primary;
          }
        }
      }
    }

    &.visible {
      display: block;
    }
}