<section id="m-body-contact">

    <div class="m-contact-headline">
        <h1>GET IN TOUCH WITH ME!</h1>
    </div>
    
    <div class="m-contact-informations">
        <a>Email: gianluca.cammarota@study.hs-duesseldorf.de<br><br>Phone: +49 157 88536421</a>
    </div>

    <div class="m-contact-socialmedia">
        <ul>
          <li id="instagram">
            <a>Instagram</a>
          </li>
          <li id="facebook">
            <a>Facebook</a>
          </li>
          <li id="twitter">
            <a>Twitter</a>
          </li>
        </ul>
    </div>

</section>