<header class="m-header">

  <div class="m-header__logo">
    <img src="/src/partials/modules/logo.png" alt="Logo">
  </div>

  
  <nav class="m-header__navigation visible">
    <ul>
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Work</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
  <!--
  <button
    class="js-toggle"
    data-toggle-selector=".m-header__navigation"
    data-toggle-class="visible"
  >
    Toggle
  </button>
  -->
</header>
