<header class="m-header">

  <section id="m-header__logo">
    <img src="https://github.com/gianlucacammarota/project-setup/blob/master/src/images/logo.png?raw=true" alt="Logo" height="50px" height="50px">
  </section>

  <div class="m-header_name">
    <h1>GIANLUCA CAMMAROTA</h1>
  </div>
  
  <nav class="m-header__navigation visible">
    <ul>
      <li class="active">
        <a href="#m-header__logo">HOME</a>
      </li>
      <li>
        <a href="#m-work-headline">WORK</a>
      </li>
      <li>
        <a href="#m-about-headline">ABOUT</a>
      </li>
      <li>
        <a href="#m-body-contact">CONTACT</a>
      </li>
    </ul>
  </nav>

  <div class="m-header_socialmedia">
    <ul>
      <li>
        <img src="https://github.com/gianlucacammarota/project-setup/blob/master/src/images/instagram-g.png?raw=true" alt="Instagram" width="30px">
      </li>
      <li>
        <img src="https://github.com/gianlucacammarota/project-setup/blob/master/src/images/facebook-g.png?raw=true" alt="Facebook" width="30px">
      </li>
      <li>
        <img src="https://github.com/gianlucacammarota/project-setup/blob/master/src/images/twitter-g.png?raw=true" alt="Twitter" width="30px">
      </li>
    </ul>
  </div>

  <!--
  <button
    class="js-toggle"
    data-toggle-selector=".m-header__navigation"
    data-toggle-class="visible"
  >
    Toggle
  </button>
  -->
</header>
