<section class="m-body-work">

    <div id="m-work-headline">
        <h1>MY PROJECTS</h1>
    </div>

    <div class="m-work-boxes">
        <ul>
          <li>
            <a href="#">Picture Template</a>
          </li>
          <li>
            <a href="#">Picture Template</a>
          </li>
          <li>
            <a href="#">Picture Template</a>
          </li>
          <li>
            <a href="#">Picture Template</a>
          </li>
        </ul>
    </div>

    <div class="m-work-projects">
        <ul>
          <li>
            <a href="#">Category 1</a>
          </li>
          <li>
            <a href="#">Category 2</a>
          </li>
          <li>
            <a href="#">Category 3</a>
          </li>
          <li>
            <a href="#">Category 4</a>
          </li>
        </ul>
    </div>

    <div class="m-work-boxes">
        <ul>
          <li>
            <a href="#">Picture Template</a>
          </li>
          <li>
            <a href="#">Picture Template</a>
          </li>
          <li>
            <a href="#">Picture Template</a>
          </li>
          <li>
            <a href="#">Picture Template</a>
          </li>
        </ul>
    </div>

    <div class="m-work-projects">
        <ul>
          <li>
            <a href="#">Category 5</a>
          </li>
          <li>
            <a href="#">Category 6</a>
          </li>
          <li>
            <a href="#">Category 7</a>
          </li>
          <li>
            <a href="#">Category 8</a>
          </li>
        </ul>
    </div>

</section>