<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <details open>
      <summary>Header</summary>
      <%= require('html-loader!./partials/modules/header.html') %>
      <%= require('html-loader!./partials/modules/home.html') %>
      <%= require('html-loader!./partials/modules/work.html') %>
      <%= require('html-loader!./partials/modules/about.html') %>
      <%= require('html-loader!./partials/modules/contact.html') %>
    </details>
  </body>
</html>
